<header>
    <nav class="nav-desktop">
        <div class="col-md-4 nav-first-desktop">
            <div>
                <a type="button" class="btn-new-task" data-toggle="modal" data-target="#modalAddTask" ><span class="nav-plus">+</span> <span> New Task</span></a>
            </div>
        </div>
        <div class="col-md-4 nav-second-desktop"><a [routerLink]="['/']">Toifi Task</a></div>
        <div class="col-md-4 nav-third-desktop">
            <div>
                <a href="" class="nav-avatar"><img src="" alt=""></a>
            </div>
        </div>
    </nav>
</header>